.dynamic-content-admin{ width: 100%; position:relative; overflow:hidden; }
.dynamic-content-admin-links{ width: 100%; position:relative; overflow:hidden; }
.open-admin-panel{ float: right; }
.close-admin-panel{ float: right; }
.dynamic-content-inner-admin{ width: 100%; position:relative; overflow:hidden; }
